a:hover
{
color:green;
}

.HolyGrail-body {
  display: flex;
  
  flex-direction: column;
}




.HolyGrail-main {
  display: flex;
  flex: auto;
}

.HolyGrail-article {
  flex: 3;
}

.HolyGrail-aside {
  
  flex: 1;
}

