a:hover
{
color:green;
}

.HolyGrail {
  display: flex;
  
  flex-direction: column;
}




.HolyGrail-body {
  display: flex;
  flex: auto;
}

.HolyGrail-content {
  flex: 3;
}

.HolyGrail-nav {
  
  flex: 1;
}

